	* {
		margin:0px;
		padding: 0px;
		box-sizing: border-box;

	}


	/*Resolucion mediaquerie*/

	@media (max-width: 575px){


	}

	@media (min-width: 576px) and (max-width: 767px) {

	}

	@media (min-width: 768px) and(max-width: 991px) {

	}
	@media(min-width: 992px) {

	}


	/*animacion navbar*/


	.link {
		text-decoration: none;
		color: inherit;
		padding: 10px;
		position: relative;
	}	

	.link:after {
		content: "";
		width: 0;
		height: 4px;
		background-color: #011C26;
		position: absolute;
		bottom: 0;
		right: 50%;
		transition: all 0.5;
		will-change: width;
	}

	.link:hover:after {
		width: 100%;
		right: 0;
	}

	/*Solo index.html HEADER Y FOOTER de los demas html*/

	body {
		font-family: 'Roboto', sans-serif;
	}
		

	header {
	 	background-color: #03738C;	
	 	display: flex;
	 	justify-content: space-between;
	 	align-items: center;
	 }


	 header input {
	 	width: 500px;
	 	height: 30px;	
	 }

	 header img {
	 	padding: 10px 10px;
	 	height: 100px;
	 }

	a {
		text-decoration: none;
	}

	 ul {
	 	display: flex;
	 	align-items: center;
	 	list-style: none;
	 }
	 li {
	 	margin-right: 1.5rem;
	 }

	 .card {
	 	background-color: #03738C;
		margin: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
	 }



	 footer {
		background-color: #03738C;
		margin: 0px 0px;
		padding: 0px 0px;
	}
	footer b {
		display: inline-block;
		padding-top: 10px;
		padding-left: 15px;
	}


	footer h2 {
		display: inline-block;
		padding-top: 10px;
		padding-left: 15px	;
	}

	footer p {
		color: white;
	}

	.box1_nosotros {
	background-color: #03738C;
	margin: 50px 230px 200px 230px ;
	padding: 10px 10px;
	border-radius: 10px;
}