* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #DFF5EA;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #03738C;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input {
  width: 25%;
  height: 30px;
}

.header img {
  padding: 10px 10px;
  height: 100px;
}

/*navbar con animacion*/
.navbar__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
}

.navbar__menu-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  margin-right: 10px;
  position: relative;
}

.navbar__menu-link:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #011C26;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5;
  will-change: width;

}

.navbar__menu-link:hover:after {
  width: 100%;
  right: 0;

}

/*MIXINS*/
.box1 {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.box1 img {
  width: 300px;
  height: 200px;
}

.box2 {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.box2 img {
  width: 300px;
  height: 200px;
}

.box3 {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.box3 img {
  width: 300px;
  height: 200px;
}

.btn-base, .btn-box1, .btn-box2, .btn-box3 {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: font5;
  color: #DFF5EA;
}

/*EXTEND*/
.btn-box1 {
  background-color: #011C26;
}

.btn-box2 {
  background-color: #011C26;
}

.btn-box3 {
  background-color: #011C26;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  width: 80%;
  margin: 150px auto 200px;
  padding: 0px;
}

.footer {
  background-color: #03738C;
  margin: 0;
  padding: 0px 0px;
}

.footer b {
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
}

.footer h2 {
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
}

.footer p {
  color: #DFF5EA;
  margin-bottom: 0;
}

.link-whatsapp {
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: #25D366;
}

.link-instagram {
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: #833AB4;
}
/*ID*/
#linkForm{
  text-decoration: none;
  color: white;}

  #linksColor li a{
  text-decoration: none;
  color: white;}

/*nosotros.html*/
.box1_nosotros {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
}

.box2_nosotros {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*servicio.html*/
.box1_servicio {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
}

.box2_servicio {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.grid__layout-servicio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  width: 80%;
  margin: 250px auto 200px;
  padding: 0px;
}

.box1_planes {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.box2_planes {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.box3_planes {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/*productos.html*/
.box1_productos {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
}

.box2_productos {
  display: flex;
  justify-content: space-around;
}

.box2_productos .img_productos {
  width: 25%;
}

.box3_productos {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
}

.box3_productos .form_productos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*contacto.html*/
main h1 {
  background-color: #011C26;
  color: #DFF5EA;
  padding: 0px 300px 50px 300px;
}

.box_contacto {
  background-color: #DFF5EA;
  padding: 0px 300px 50px 300px;
}

.box_contacto label input {
  display: inline-block;
}

/*MEDIA QUERIES*/
@media (max-width: 1024px) {
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    width: 80%;
    margin: 150px auto 200px;
    padding: 0px;
  }
  .box_servicio {
    display: grid;
    gap: 10px;
    grid-template-areas: "header"
 "navbar"
 "main"
 "footer";
  }
}

@media (max-width: 425px) {
  .header {
    width: 100%;
  }
  .header input {
    width: 75%;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    width: 80%;
    margin: 150px auto 200px;
    padding: 0px;
  }
  body {
    display: grid;
    gap: 10px;
    grid-template-areas: "header"
 "navbar"
 "main"
 "footer";
  }
}

@media (max-width: 768px) {
  .navbar__menu {
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  .navbar__menu {
    display: flex;
    flex-direction: row;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .navbar__menu{
    display: flex;
    flex-direction: row;
    flex-direction: column;
  }
}

