/* line 4, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* line 11, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
body {
  background-color: #DFF5EA;
  font-family: "Roboto", sans-serif;
}

/* line 15, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.header {
  background-color: #03738C;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 21, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.header input {
  width: 500px;
  height: 30px;
}

/* line 25, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.header img {
  padding: 10px 10px;
  height: 100px;
}

/* line 31, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.navbar__menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

/* line 38, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.navbar__menu-link {
  display: block;
  text-decoration: none;
  color: #DFF5EA;
  padding: 5px 10px;
  margin-right: 10px;
}

/*MIXINS*/
/* line 63, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box1 {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* line 57, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box1 img {
  width: 300px;
  height: 200px;
}

/* line 67, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box2 {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* line 57, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box2 img {
  width: 300px;
  height: 200px;
}

/* line 71, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box3 {
  background-color: #03738C;
  margin: 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* line 57, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box3 img {
  width: 300px;
  height: 200px;
}

/* line 75, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.btn-base, .btn-box1, .btn-box2, .btn-box3 {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: font5;
  color: #DFF5EA;
}

/*EXTEND*/
/* line 84, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.btn-box1 {
  background-color: #011C26;
}

/* line 89, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.btn-box2 {
  background-color: #011C26;
}

/* line 94, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.btn-box3 {
  background-color: #011C26;
}

/* line 100, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  width: 80%;
  margin: 500px auto 200px;
  padding: 0px;
}

/* line 109, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.footer {
  background-color: #03738C;
  margin: 0;
  padding: 0px 0px;
}

/* line 113, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.footer b {
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
}

/* line 118, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.footer h2 {
  display: inline-block;
  padding-top: 10px;
  padding-left: 15px;
}

/* line 123, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.footer p {
  color: #DFF5EA;
  margin-bottom: 0;
}

/* line 135, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.link-whatsapp {
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: lightgreen;
}

/* line 135, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.link-instagram {
  margin: 0 5px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  background-color: #c92d8f;
}

/*nosotros.html*/
/* line 146, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box1_nosotros {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
  border-radius: 10px;
}

/*servicio.html*/
/* line 154, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box1_servicio {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
}

/*productos.html*/
/* line 161, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box1_productos {
  background-color: #03738C;
  margin: 50px 230px 200px 230px;
  padding: 10px 10px;
}

/*contacto.html*/
/* line 168, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
main h1 {
  background-color: #011C26;
  color: #DFF5EA;
  padding: 0px 300px 50px 300px;
}

/* line 174, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box_contacto {
  background-color: #DFF5EA;
  padding: 0px 300px 50px 300px;
}

/* line 177, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
.box_contacto label input {
  display: inline-block;
}

/*MEDIA QUERIES*/
@media (max-width: 1024px) {
  /* line 183, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* line 189, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
  }
  /* line 196, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    width: 80%;
    margin: 500px auto 200px;
    padding: 0px;
  }
  /* line 204, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .box_servicio {
    display: grid;
    gap: 10px;
    grid-template-areas: "header" "navbar" "main" "footer";
  }
}

@media (max-width: 425px) {
  /* line 215, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .header {
    width: 100%;
  }
  /* line 217, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .header input {
    width: 75%;
  }
  /* line 221, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    width: 80%;
    margin: 500px auto 200px;
    padding: 0px;
  }
  /* line 229, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  body {
    display: grid;
    gap: 10px;
    grid-template-areas: "header" "navbar" "main" "footer";
  }
}

@media (max-width: 768px) {
  /* line 241, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .navbar__menu {
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  /* line 247, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .navbar__menu {
    display: flex;
    flex-direction: row;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  /* line 255, ../CODER -37685/clase 11/TechnicalWolf-Avila/ROOT/scss/style.scss */
  .navbar__menu {
    display: flex;
    flex-direction: row;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */